body * {
  vertical-align: top;
  margin: 0px;
  position: relative;
}

body {
  background: rgb(73, 99, 140);
  font-family: 'Raleway', sans-serif;
  font-size: 90%;
  color: white;
  margin: 0;
  padding: 0;
}

.footer p {
  margin: 10px;
}

.header {
  height: 100px;
  line-height: 100px;
  margin-top: 10px;
  margin-bottom: 30px;
  background: rgb(26, 42, 64);
  z-index: 50;
  position: fixed;
  width: 100%;
  font-size: 70px;
  box-shadow: 2px 0px 20px rgb(27, 41, 61);
  -webkit-transition: letter-spacing 0.5s steps(4, end), text-shadow 1s ease, box-shadow 1s ease-in;
  transition: letter-spacing 0.5s steps(4, end), text-shadow 1s ease, box-shadow 1s ease-in;
}

.header * {
  margin: 0px;
  padding: 0px;
  line-height: 100px;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0px;
  border: none;
  background: none;
}

.main {
  padding: 20px;
  padding-top: 200px;
}

.circle {
  width: 200px;
  height: 200px;
  border-radius: 105px;
  border: 5px solid rgb(43, 13, 5);
  border: 3px solid white;
  box-shadow:        0px  0px  5px  2px rgb(71, 41, 41),
             inset  10px -3px 50px  5px rgb(223, 200, 159),
             inset -10px  3px 50px -5px rgb(124, 82, 6);
  left: 750px;
  top: -30px;
  z-index: 150;
  background: rgb(215,150,48);
  display: inline-block;
  position: fixed;
  -webkit-transition: all 1.5s ease, box-shadow 4s ease,box-shadow 6s ease, z-index 0.01s linear;
  transition: all 1.5s ease, box-shadow 4s ease,box-shadow 6s ease, z-index 0.01s linear;
}

.square {
  z-index: 46;
  border-radius: 3px;
  border: 2px solid rgba(68, 41, 21, 0);
  width: 263px;
  height: 263px;
  padding: 20px;
  margin-left: 0px;
  margin-right: 10px;
  margin-top: 0px;
  margin-bottom: 15px;
  display: inline-block;
  background: rgb(68, 41, 21);
  box-shadow: inset -1px  1px 2px 0px rgb(131, 109, 109),
              inset  1px -1px 2px 0px rgb(27, 27, 27),
                     0px  0px 3px 2px rgb(17, 17, 17);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;                     
}

.square * {
  vertical-align: text-bottom;
  font-size: 1.5em;
  margin: 0px;
}

.transparent {
  background: rgba(73,99,140, 0.58);
  border: 2px solid rgb(68, 41, 21);
  z-index: 100;
  position: relative;
  box-shadow: inset 1px -1px 2px 0px rgb(68, 41, 21),
                    2px -2px 2px 0px rgb(90, 80, 80);
  -webkit-transition:border-top-left-radius 10s linear,
                     border-top-right-radius 5s ease, height 8s ease,
                     margin-top 8s ease, width 10s ease,
                     margin-left 10s ease, border-bottom-left-radius 10s ease,
                     border-bottom-right-radius 20s ease;
  transition:border-top-left-radius 10s linear,
                     border-top-right-radius 5s ease, height 8s ease,
                     margin-top 8s ease, width 10s ease,
                     margin-left 10s ease, border-bottom-left-radius 10s ease,
                     border-bottom-right-radius 20s ease;                    
}

.thumb {
  width: 100px;
  height: 100px;
  float: left;
  margin: 0px 10px 0px 0px;
}

.footer {
  text-align: center;
  padding: 40px;
  margin-top: 50px;
  background: rgb(215,150,48);
  box-shadow: -2px 0px 20px brown;
  -webkit-transition: all 1.5s linear;
}

.anjelica {
  z-index: 200;
}

.amara, .daphne {
  z-index: 100;
}

.violet {
  z-index: 34;
}

.violet.transparent, .amara.transparent{
  z-index: 200;
}

.jocelyn {
  z-index: 100;
}

.anjelica.transparent, .daphne.transparent {
  z-index: 25;
}

div.barfront {
  width: 100%;
  height: 100%;
  background: rgb(215, 150, 48);
  -webkit-backface-visibility: hidden;
}

div.barback {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(255, 0, 0);
  box-shadow: inset 0px 0px 10px 0px rgb(255, 255, 255),
                   -5px 5px 10px 0px rgb(168, 19, 19);
  -webkit-transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
}

.tall-left-bar {
  position: fixed;
  width: 30px;
  box-shadow: 0px 0px 3px 1px rgb(67, 67, 67);
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;

}

.tall-left-bar.sixhundred {
  height: 600px;
  top: 150px;
  z-index: 45;
} 
.tall-left-bar.fivehundred {
  height: 500px;
  top: 200px;
  left: 50px;
}
.tall-left-bar.fourhundred {
  height: 400px;
  top: 250px;
  left: 100px;
  z-index: 45;
}
.tall-left-bar.threehundred {
  height: 300px;
  top: 300px;
  left: 150px;
}
.tall-left-bar.twohundred {
  height: 200px;
  top: 350px;
  left: 200px;
  z-index: 45;
}
.tall-left-bar.onehundred {
  height: 100;
  top: 400px;
  left: 250px;
}
.tall-left-bar.lesshundred {
  height: 50px;
  top: 425px;
  left: 300px;
  z-index: 45;
}