.circle:hover {
    box-shadow: 0px 0px 5px 2px rgb(71, 41, 41),
             inset -30px  10px 50px  5px rgb(223, 200, 159),
             inset  10px -3px  40px  0px rgb(0, 0, 0);
    width: 400px;
    height: 400px;
    border-radius: 200px;
    left: 750;
    top: -80;
    border: none;
    z-index: 300;
}

.header:hover {
  letter-spacing: 3;
  text-shadow: -3px 3px rgb(70, 84, 104);
}

.transparent:active {
  border-top-left-radius: 300px;
  border-top-right-radius: 300px;
  border-bottom-left-radius: 300px;
  border-bottom-right-radius: 300px;
  height: 0px;
  width: 0px;
  margin-top: 260px;
  margin-left: 262px;
}

.square:active {
  box-shadow: 0px 0px 30px 5px blue;
}

.square.transparent:active {
  box-shadow: 0px 0px 40px 5px red;
}